body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto 20px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.index-container {
    max-width: 1000px;
    margin: 50px auto 20px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

nav {
	display: flex;
	height: 60px;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: #8b4513;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	padding: 10px 15px;
	transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
	color: #333;
}

h2 {
    color: #8b4513; 
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 40px);
    padding: 12px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="button"] {
    width: calc(100% - 40px);
    background-color: #8b4513; 
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #a0522d; 
}

a.home-link {
    color: #8b4513; 
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 20px; 
}

a.home-link:hover {
    color: #a0522d; 
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
